.landing-page {
  background-color: #ffffff;
  height: 842px;
  overflow: hidden;
  width: 1440px;
}

.landing-page .overlap {
  height: 842px;
  position: relative;
  width: 1532px;
}

.landing-page .background-frame {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 58px;
  left: 0;
  position: absolute;
  top: 0;
}

.landing-page .background-group {
  height: 842px;
  position: relative;
  width: 1440px;
}

.landing-page .exclipse-group {
  height: 659px;
  left: 873px;
  position: absolute;
  top: 71px;
  width: 659px;
}

.landing-page .eclipse-women-avatar {
  height: 659px;
}

.landing-page .eclipse-assets {
  height: 659px;
  left: -63px;
  position: relative;
  width: 659px;
}

.landing-page .overlap-group {
  height: 473px;
  left: 26px;
  position: relative;
  top: 93px;
  width: 540px;
}

.landing-page .ellipse {
  height: 473px;
  left: 0;
  position: absolute;
  top: 0;
  width: 473px;
}

.landing-page .img {
  height: 365px;
  left: 433px;
  position: absolute;
  top: 42px;
  width: 107px;
}

.landing-page .contac-group {
  height: 55px;
  left: 680px;
  position: absolute;
  top: 16px;
  width: 737px;
}

.landing-page .nav-group {
  height: 19px;
  left: 0;
  position: absolute;
  top: 18px;
  width: 420px;
}

.landing-page .nav {
  align-items: flex-start;
  display: inline-flex;
  gap: 52px;
  position: relative;
}

.landing-page .text-wrapper {
  color: #d85de3;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 17px;
  font-weight: 500;
  height: 19px;
  letter-spacing: 0;
  line-height: 18.7px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 51px;
}

.landing-page .div {
  color: #d85de3;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18.7px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .contact {
  height: 55px;
  left: 572px;
  position: absolute;
  top: 0;
  width: 165px;
}

.landing-page .contact-frame {
  align-items: center;
  background-color: #fb90ea;
  border-radius: 55px;
  box-shadow: 0px 2.77px 2.21px #2aa7ff05, 0px 6.65px 5.32px #2aa7ff07, 0px 12.52px 10.02px #2aa7ff09,
    0px 22.34px 17.87px #2aa7ff0b, 0px 41.78px 33.42px #2aa7ff0d, 0px 100px 80px #2aa7ff12;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 18px 35px;
  position: relative;
}

.landing-page .text-wrapper-2 {
  color: #ffffff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18.7px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .quote-group {
  height: 168px;
  left: 116px;
  position: absolute;
  top: 338px;
  width: 533px;
}

.landing-page .quote-frame {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 54px;
  position: relative;
}

.landing-page .quote {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.landing-page .text-wrapper-3 {
  color: #f767bd;
  font-family: "Archivo Black-Regular", Helvetica;
  font-size: 72px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 86.4px;
  margin-top: -1px;
  position: relative;
  width: 533px;
}

.landing-page .empower-protect {
  color: #a015ac91;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 30.6px;
  position: relative;
  width: 497px;
}

.landing-page .nav-image {
  height: 65px;
  left: 1098px;
  position: absolute;
  top: 166px;
  width: 51px;
}

.landing-page .mask-group {
  height: 169px;
  left: 400px;
  position: absolute;
  top: 266px;
  width: 171px;
}
